<%- include('../partials/header.ejs') %>
<h3><%= post.title %></h3>
<p><%= post.body %></p>
<img src="<%= post.imageUrl %>" alt=""/>
<form action="/posts/<%= post.id%>" method="POST">
    <input type='hidden' name = "_method" value="DELETE">
    <input type="submit" value="Delete">
</form>
<a href="/posts/<%= post.id%>/edit">
    Edit
</a>
<%- include('../partials/footer.ejs') %>